.container{
    width: 100%;
    height: 40em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-position: left bottom , right bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 1em;
  }
  
  .Title{
    margin: auto;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .Basic , .Professional , .Master{
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Basic-data , .Master-data{
    width: 11em;
    height: 17em;
    border-radius: 0.5em;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
  }
  
  .Professional-data{
    width: 13em;
    height: 19em;
    border-radius: 0.5em;
    background-color: hsl(237, 63%, 64%);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
  }
  
  .Price{
    font-weight: 700;
    font-size: xx-large;
  }
  
  .Price::before{
    content: "$";
  }
  
  .GB ,.Price ,.user ,.send{
    border-bottom: rgba(0, 0, 0, 0.1) solid 0.01em;
  }
  
  .button ,.buttonPro{
    border-radius: 0.3em;
    width:100%;
    height: 2em;
    border: 0.02em solid hsl(234, 14%, 74%);
    background-color: white;
    color: hsl(237, 63%, 64%);
    margin-top: 1em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
  }
  
  .buttonPro{
    background-color: hsl(237, 63%, 64%);
    color: white;
  }
  
  
  .Toogle-Switch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    font-weight: 700;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  
  }
  .switch{
  display: flexbox;
  width: 4em;
  height: 5em;
  }  
  
  .switch input {
    opacity: 0;
  }
  
  .slider {
    display: flex;
    cursor: pointer;
    width: 4em;
    height: 2em;
    background-color: #c3ddf1;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
    .slider:before {
      display: inline-block;
      content: "";
      height: 1.6em;
      width: 1.6em; 
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      margin-top: 0.2em;
      margin-left: 0.2em;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      background-color: #2196F3;
      box-shadow: 0 0 0.1em #2196F3;
    }
  
    input:checked + .slider:before {
      -webkit-transform: translateX(2em);
      -ms-transform: translateX(2em);
      transform: translateX(2em);
    }  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2em;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .activestate{
    background-color:hsl(237, 63%, 64%);
    color: white;
  }
  .activestatePro{
    background-color:white;
    color: hsl(237, 63%, 64%);
  }
  
  
  
  